.table-row-light {
  background: #ffffff;
}
.table-row-dark {
  background: #fafafa;
}

.heatMapLegend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 14px;
  margin: 2px;
}
.heatMapLegend {
  list-style: none;
}
.heatMapLegend li {
  float: left;
  margin-right: 10px;
}

.ant-btn-primary {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: black;
}

.ant-btn-primary:hover {
  background: #f0f0f0;
  border-color: #f0f0f0;
  color: black;
}

.four {
  background: #8c8c8c;
  border-color: #8c8c8c;
  color: white;
}

.spinLoading {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 200px 50px;
  text-align: center;
  border-radius: 4px;
}
